In [1]:
import requests
from bs4 import BeautifulSoup
import json
import pandas as pd
import re
import ast
import numpy as np

In [2]:
# Define the start and end of the JSON data
start_str = '{"id":"'
end_str = '"jobstreet:s_vi":""}}'

# Initialize a DataFrame to hold all jobs data
all_jobs_data = pd.DataFrame()

In [3]:
# List of URLs you want to scrape from
urls = [
    "https://www.jobstreet.com.my/data-analyst-jobs?pg=1",
    "https://www.jobstreet.com.my/data-analyst-jobs?pg=2",
    "https://www.jobstreet.com.my/data-analyst-jobs?pg=3",
    "https://www.jobstreet.com.my/data-analyst-jobs?pg=4",
    "https://www.jobstreet.com.my/data-analyst-jobs?pg=5",
    "https://www.jobstreet.com.my/data-analyst-jobs?pg=6",
    "https://www.jobstreet.com.my/data-analyst-jobs?pg=7",
    "https://www.jobstreet.com.my/data-analyst-jobs?pg=8",
    "https://www.jobstreet.com.my/data-analyst-jobs?pg=9",
    "https://www.jobstreet.com.my/data-analyst-jobs?pg=10",
    "https://www.jobstreet.com.my/data-analyst-jobs?pg=11",
    "https://www.jobstreet.com.my/data-analyst-jobs?pg=12",
    "https://www.jobstreet.com.my/data-analyst-jobs?pg=13",
    "https://www.jobstreet.com.my/data-analyst-jobs?pg=14",
    "https://www.jobstreet.com.my/data-analyst-jobs?pg=15",
    "https://www.jobstreet.com.my/data-analyst-jobs?pg=16",
    "https://www.jobstreet.com.my/data-analyst-jobs?pg=17",
    "https://www.jobstreet.com.my/data-analyst-jobs?pg=18",
    "https://www.jobstreet.com.my/data-analyst-jobs?pg=19",
    "https://www.jobstreet.com.my/data-analyst-jobs?pg=20",
    "https://www.jobstreet.com.my/data-analyst-jobs?pg=21",
    "https://www.jobstreet.com.my/data-analyst-jobs?pg=22",
    "https://www.jobstreet.com.my/data-analyst-jobs?pg=23",
    "https://www.jobstreet.com.my/data-analyst-jobs?pg=24",
    "https://www.jobstreet.com.my/data-analyst-jobs?pg=25",
    "https://www.jobstreet.com.my/data-analyst-jobs?pg=26",
    "https://www.jobstreet.com.my/data-analyst-jobs?pg=27",
    "https://www.jobstreet.com.my/data-analyst-jobs?pg=28",
    "https://www.jobstreet.com.my/data-analyst-jobs?pg=29",
    "https://www.jobstreet.com.my/data-analyst-jobs?pg=30",
    "https://www.jobstreet.com.my/data-analyst-jobs?pg=31",
    "https://www.jobstreet.com.my/data-analyst-jobs?pg=32",
    "https://www.jobstreet.com.my/data-analyst-jobs?pg=33",
    "https://www.jobstreet.com.my/data-analyst-jobs?pg=34",
    "https://www.jobstreet.com.my/data-analyst-jobs?pg=35",
    "https://www.jobstreet.com.my/data-analyst-jobs?pg=36",
]

In [4]:
# Initialize a list to hold all DataFrames
df_list = []

# The pattern that matches a job listing
pattern = r'\{"id":".*?"jobstreet:s_vi":""\}\}\}'

# Loop over each URL
for url in urls:
    # Send HTTP request to URL and save the response from server in a response object called r
    r = requests.get(url)

    # Create a BeautifulSoup object and specify the parser
    soup = BeautifulSoup(r.text, 'html.parser')

    # Use the 'find_all' function to find all script tags in the HTML
    script_tags = soup.find_all('script')

    # Combine all the script tags into a single string
    all_scripts_str = ' '.join(str(tag) for tag in script_tags)

    # Use a regular expression to find all matches in the combined script string
    matches = re.findall(pattern, all_scripts_str)

    # Initialize an empty list to store the jobs data
    jobs_data = []

    # Loop through the matches
    for match in matches:
        # Try to parse the JSON data
        data = json.loads(match)
        # Append the data to the jobs list
        jobs_data.append(data)

    # Convert the list of jobs into a DataFrame
    df = pd.DataFrame(jobs_data)

    # Append the DataFrame for this URL to the df_list
    df_list.append(df)

# Concatenate all the DataFrames in the df_list
all_jobs_data = pd.concat(df_list, ignore_index=True)

In [5]:
all_jobs_data.head()

,id,adType,sourceCountryCode,isStandout,companyMeta,jobTitle,jobUrl,jobTitleSlug,description,employmentTypes,sellingPoints,locations,categories,postingDuration,postedAt,salaryRange,salaryVisible,bannerUrl,isClassified,solMetadata
0,5480607,standout,my,True,"{'id': '397198', 'advertiserId': 'my228377', '...",Performance Data Analyst,https://www.jobstreet.com.my/en/job/performanc...,performance-data-analyst,The performance data analyst will be responsib...,"[{'code': 'full_time', 'name': 'Full-Time'}]",[],"[{'code': '701510', 'name': 'Tuas', 'slug': No...","[{'code': '505', 'name': 'Services', 'children...",3-Aug-23,2023-08-03T02:52:28Z,"{'currency': None, 'max': None, 'min': None, '...",False,https://image-service-cdn.seek.com.au/14439746...,False,{'searchRequestToken': '796312a1-2dcf-453f-bd4...
1,5478851,standout,my,True,"{'id': 'jobstreet-my-307065', 'advertiserId': ...",Risk Data Analyst (Penang),https://www.jobstreet.com.my/en/job/risk-data-...,risk-data-analyst-penang,Position: Risk Data Analyst (Penang)Location: ...,"[{'code': 'full_time', 'name': 'Full-Time'}]",[Outstanding career growth & development oppor...,"[{'code': '50706', 'name': 'George Town', 'slu...","[{'code': '508', 'name': 'Computer/Information...",1-Aug-23,2023-08-01T09:58:25Z,"{'currency': 'MYR', 'max': 3200, 'min': 2000, ...",True,https://image-service-cdn.seek.com.au/0e3dc00c...,False,{'searchRequestToken': '796312a1-2dcf-453f-bd4...
2,5479652,standout,my,True,"{'id': '661391', 'advertiserId': 'my197066', '...",Business Analyst,https://www.jobstreet.com.my/en/job/business-a...,business-analyst,Position Tittle: Business Analyst-Assistant Ma...,"[{'code': 'full_time', 'name': 'Full-Time'}]",[Flexible Work Arrangement- Hybrid role- Work ...,"[{'code': '51206', 'name': 'Petaling Jaya', 's...","[{'code': '508', 'name': 'Computer/Information...",2-Aug-23,2023-08-02T06:21:33Z,"{'currency': 'MYR', 'max': 7700, 'min': 7500, ...",True,https://image-service-cdn.seek.com.au/57e92ef0...,False,{'searchRequestToken': '796312a1-2dcf-453f-bd4...
3,5482310,standout,my,True,"{'id': '397235', 'advertiserId': 'my86309', 'i...",Software Business Analyst,https://www.jobstreet.com.my/en/job/software-b...,software-business-analyst,Responsibilities: Ability to conceptualise so...,"[{'code': 'full_time', 'name': 'Full-Time'}]","[Competitive salary package, Miscellaneous med...","[{'code': '51200', 'name': 'Selangor', 'slug':...","[{'code': '508', 'name': 'Computer/Information...",4 hours ago,2023-08-04T07:26:38Z,"{'currency': None, 'max': None, 'min': None, '...",False,https://image-service-cdn.seek.com.au/b9a2834d...,False,{'searchRequestToken': '796312a1-2dcf-453f-bd4...
4,5477990,standout,my,True,"{'id': '403451', 'advertiserId': 'my119927', '...",Business Analyst (BA),https://www.jobstreet.com.my/en/job/business-a...,business-analyst-ba,"Benefits: Group medical insurance Medical, De...","[{'code': 'full_time', 'name': 'Full-Time'}]","[Positive Work Culture, High Career Growth, Hy...","[{'code': '50300', 'name': 'Kuala Lumpur', 'sl...","[{'code': '508', 'name': 'Computer/Information...",1-Aug-23,2023-08-01T03:12:16Z,"{'currency': 'MYR', 'max': 8000, 'min': 4000, ...",True,https://image-service-cdn.seek.com.au/907d1245...,False,{'searchRequestToken': '796312a1-2dcf-453f-bd4...

In [6]:
all_jobs_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1080 entries, 0 to 1079
Data columns (total 20 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 1080 non-null   object
 1   adType             1080 non-null   object
 2   sourceCountryCode  1080 non-null   object
 3   isStandout         1080 non-null   bool
 4   companyMeta        1080 non-null   object
 5   jobTitle           1080 non-null   object
 6   jobUrl             1080 non-null   object
 7   jobTitleSlug       1080 non-null   object
 8   description        1080 non-null   object
 9   employmentTypes    1080 non-null   object
 10  sellingPoints      1080 non-null   object
 11  locations          1080 non-null   object
 12  categories         1080 non-null   object
 13  postingDuration    1080 non-null   object
 14  postedAt           1080 non-null   object
 15  salaryRange        1080 non-null   object
 16  salaryVisible      1080 non-null   bool
 17  bannerUrl          1080 non-null   object
 18  isClassified       1080 non-null   bool
 19  solMetadata        1080 non-null   object
dtypes: bool(3), object(17)
memory usage: 146.7+ KB

This dataset seems to contain information about job postings. Here are some potential steps for cleaning and preprocessing the data:

1. Parse JSON columns: Some columns like companyMeta, employmentTypes, locations, categories, salaryRange, and solMetadata appear to contain JSON objects. You might want to extract useful information from these fields and create new columns. For example, from the salaryRange column, you can create minSalary, maxSalary, and currency columns.

2. Handle missing values: Check for missing or null values in the dataset. Depending on the nature of the data and the amount of missing data, you can choose to either fill in the missing values (using methods such as mean, median, or mode imputation), or drop the rows or columns that have missing values.

3. Convert Boolean columns to binary: Convert boolean columns like isStandout, salaryVisible, and isClassified to binary (0 and 1) for easier analysis and modeling.

4. Convert timestamps to datetime: Convert the postedAt column to a datetime object to enable time-based analysis.

Let's start with the first step: parsing the JSON columns. We'll start with the salaryRange column, extracting minSalary, maxSalary, and currency columns. We'll also need to handle cases where these fields might not be present in the JSON object.

In [7]:
# Define a function to parse the salaryRange column
def parse_salary_range(salary_range):
    if pd.isna(salary_range) or salary_range == "None":
        return np.nan, np.nan, np.nan, np.nan, np.nan
    else:
        salary_range_dict = salary_range
        min_salary = salary_range_dict.get('min')
        max_salary = salary_range_dict.get('max')
        currency = salary_range_dict.get('currency')
        period = salary_range_dict.get('period')
        term = salary_range_dict.get('term')
        return min_salary, max_salary, currency, period, term

# Apply the function to the salaryRange column
all_jobs_data[['minSalary', 'maxSalary', 'currency', 'period', 'term']] = all_jobs_data['salaryRange'].apply(parse_salary_range).apply(pd.Series)

all_jobs_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1080 entries, 0 to 1079
Data columns (total 25 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 1080 non-null   object
 1   adType             1080 non-null   object
 2   sourceCountryCode  1080 non-null   object
 3   isStandout         1080 non-null   bool
 4   companyMeta        1080 non-null   object
 5   jobTitle           1080 non-null   object
 6   jobUrl             1080 non-null   object
 7   jobTitleSlug       1080 non-null   object
 8   description        1080 non-null   object
 9   employmentTypes    1080 non-null   object
 10  sellingPoints      1080 non-null   object
 11  locations          1080 non-null   object
 12  categories         1080 non-null   object
 13  postingDuration    1080 non-null   object
 14  postedAt           1080 non-null   object
 15  salaryRange        1080 non-null   object
 16  salaryVisible      1080 non-null   bool
 17  bannerUrl          1080 non-null   object
 18  isClassified       1080 non-null   bool
 19  solMetadata        1080 non-null   object
 20  minSalary          396 non-null    float64
 21  maxSalary          396 non-null    float64
 22  currency           396 non-null    object
 23  period             1080 non-null   object
 24  term               0 non-null      object
dtypes: bool(3), float64(2), object(20)
memory usage: 188.9+ KB

In [8]:
# Define a function to parse the companyMeta column
def parse_company_meta(company_meta):
    if pd.isna(company_meta) or company_meta == "None":
        return np.nan, np.nan, np.nan, np.nan, np.nan
    else:
        company_meta_dict = company_meta
        company_meta_id = company_meta_dict.get('id')
        ad_id = company_meta_dict.get('advertiserId')
        isprivate = company_meta_dict.get('isPrivate')
        company_meta_name = company_meta_dict.get('name')
        company_meta_slug = company_meta_dict.get('slug')
        return company_meta_id, ad_id, isprivate, company_meta_name, company_meta_slug

# Apply the function to the companyMeta column
all_jobs_data[['companyMetaId', 'AdId', 'isPrivate', 'companyMetaName', 'companyMetaSlug']] = all_jobs_data['companyMeta'].apply(parse_company_meta).apply(pd.Series)

all_jobs_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1080 entries, 0 to 1079
Data columns (total 30 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 1080 non-null   object
 1   adType             1080 non-null   object
 2   sourceCountryCode  1080 non-null   object
 3   isStandout         1080 non-null   bool
 4   companyMeta        1080 non-null   object
 5   jobTitle           1080 non-null   object
 6   jobUrl             1080 non-null   object
 7   jobTitleSlug       1080 non-null   object
 8   description        1080 non-null   object
 9   employmentTypes    1080 non-null   object
 10  sellingPoints      1080 non-null   object
 11  locations          1080 non-null   object
 12  categories         1080 non-null   object
 13  postingDuration    1080 non-null   object
 14  postedAt           1080 non-null   object
 15  salaryRange        1080 non-null   object
 16  salaryVisible      1080 non-null   bool
 17  bannerUrl          1080 non-null   object
 18  isClassified       1080 non-null   bool
 19  solMetadata        1080 non-null   object
 20  minSalary          396 non-null    float64
 21  maxSalary          396 non-null    float64
 22  currency           396 non-null    object
 23  period             1080 non-null   object
 24  term               0 non-null      object
 25  companyMetaId      1064 non-null   object
 26  AdId               1080 non-null   object
 27  isPrivate          1080 non-null   bool
 28  companyMetaName    1080 non-null   object
 29  companyMetaSlug    1080 non-null   object
dtypes: bool(4), float64(2), object(24)
memory usage: 223.7+ KB

In [9]:
# Define a function to parse the employmentTypes column
def parse_employment_types(employment_types):
    if pd.isna(employment_types) or employment_types == "None":
        return np.nan, np.nan
    else:
        employment_types_list = employment_types
        if len(employment_types_list) > 0:
            first_dict = employment_types_list[0]
            emp_code = first_dict.get('code')
            emp_name = first_dict.get('name')
        else:
            emp_code = emp_name = np.nan
        return emp_code, emp_name

    
# Apply the function to the employmentTypes column
all_jobs_data[['employmentCode', 'employmentName']] = all_jobs_data['employmentTypes'].apply(parse_employment_types).apply(pd.Series)

all_jobs_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1080 entries, 0 to 1079
Data columns (total 32 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 1080 non-null   object
 1   adType             1080 non-null   object
 2   sourceCountryCode  1080 non-null   object
 3   isStandout         1080 non-null   bool
 4   companyMeta        1080 non-null   object
 5   jobTitle           1080 non-null   object
 6   jobUrl             1080 non-null   object
 7   jobTitleSlug       1080 non-null   object
 8   description        1080 non-null   object
 9   employmentTypes    1080 non-null   object
 10  sellingPoints      1080 non-null   object
 11  locations          1080 non-null   object
 12  categories         1080 non-null   object
 13  postingDuration    1080 non-null   object
 14  postedAt           1080 non-null   object
 15  salaryRange        1080 non-null   object
 16  salaryVisible      1080 non-null   bool
 17  bannerUrl          1080 non-null   object
 18  isClassified       1080 non-null   bool
 19  solMetadata        1080 non-null   object
 20  minSalary          396 non-null    float64
 21  maxSalary          396 non-null    float64
 22  currency           396 non-null    object
 23  period             1080 non-null   object
 24  term               0 non-null      object
 25  companyMetaId      1064 non-null   object
 26  AdId               1080 non-null   object
 27  isPrivate          1080 non-null   bool
 28  companyMetaName    1080 non-null   object
 29  companyMetaSlug    1080 non-null   object
 30  employmentCode     1080 non-null   object
 31  employmentName     1080 non-null   object
dtypes: bool(4), float64(2), object(26)
memory usage: 240.6+ KB

In [10]:
# Convert lists in 'sellingPoints' to strings
all_jobs_data['sellingPoints'] = all_jobs_data['sellingPoints'].apply(lambda x: ', '.join(x) if isinstance(x, list) else x)

# Print the first few rows of the updated 'sellingPoints' column
print(all_jobs_data['sellingPoints'].head())

0
1    Outstanding career growth & development opport...
2    Flexible Work Arrangement- Hybrid role- Work f...
3    Competitive salary package, Miscellaneous medi...
4    Positive Work Culture, High Career Growth, Hyb...
Name: sellingPoints, dtype: object

In [11]:
# Define a function to extract location names from a list of dictionaries
def extract_location_names(location_list):
    names = [location['name'] for location in location_list]
    return ', '.join(names)

# Apply the function to the 'locations' column
all_jobs_data['location_names'] = all_jobs_data['locations'].apply(extract_location_names)

# Print the first few rows of the updated DataFrame
print(all_jobs_data['location_names'].head())

all_jobs_data.info()

0             Tuas
1      George Town
2    Petaling Jaya
3         Selangor
4     Kuala Lumpur
Name: location_names, dtype: object
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1080 entries, 0 to 1079
Data columns (total 33 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 1080 non-null   object
 1   adType             1080 non-null   object
 2   sourceCountryCode  1080 non-null   object
 3   isStandout         1080 non-null   bool
 4   companyMeta        1080 non-null   object
 5   jobTitle           1080 non-null   object
 6   jobUrl             1080 non-null   object
 7   jobTitleSlug       1080 non-null   object
 8   description        1080 non-null   object
 9   employmentTypes    1080 non-null   object
 10  sellingPoints      1080 non-null   object
 11  locations          1080 non-null   object
 12  categories         1080 non-null   object
 13  postingDuration    1080 non-null   object
 14  postedAt           1080 non-null   object
 15  salaryRange        1080 non-null   object
 16  salaryVisible      1080 non-null   bool
 17  bannerUrl          1080 non-null   object
 18  isClassified       1080 non-null   bool
 19  solMetadata        1080 non-null   object
 20  minSalary          396 non-null    float64
 21  maxSalary          396 non-null    float64
 22  currency           396 non-null    object
 23  period             1080 non-null   object
 24  term               0 non-null      object
 25  companyMetaId      1064 non-null   object
 26  AdId               1080 non-null   object
 27  isPrivate          1080 non-null   bool
 28  companyMetaName    1080 non-null   object
 29  companyMetaSlug    1080 non-null   object
 30  employmentCode     1080 non-null   object
 31  employmentName     1080 non-null   object
 32  location_names     1080 non-null   object
dtypes: bool(4), float64(2), object(27)
memory usage: 249.0+ KB

In [12]:
# Define a function to extract location names from a list of dictionaries
def extract_category_type(category_type):
    names = [category['name'] for category in category_type]
    return ', '.join(names)

# Apply the function to the 'locations' column
all_jobs_data['category_types'] = all_jobs_data['categories'].apply(extract_category_type)

# Print the first few rows of the updated DataFrame
print(all_jobs_data['category_types'].head())

all_jobs_data.info()

0                Services, Logistics/Supply Chain
1    Computer/Information Technology, IT-Software
2    Computer/Information Technology, IT-Software
3    Computer/Information Technology, IT-Software
4    Computer/Information Technology, IT-Software
Name: category_types, dtype: object
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1080 entries, 0 to 1079
Data columns (total 34 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 1080 non-null   object
 1   adType             1080 non-null   object
 2   sourceCountryCode  1080 non-null   object
 3   isStandout         1080 non-null   bool
 4   companyMeta        1080 non-null   object
 5   jobTitle           1080 non-null   object
 6   jobUrl             1080 non-null   object
 7   jobTitleSlug       1080 non-null   object
 8   description        1080 non-null   object
 9   employmentTypes    1080 non-null   object
 10  sellingPoints      1080 non-null   object
 11  locations          1080 non-null   object
 12  categories         1080 non-null   object
 13  postingDuration    1080 non-null   object
 14  postedAt           1080 non-null   object
 15  salaryRange        1080 non-null   object
 16  salaryVisible      1080 non-null   bool
 17  bannerUrl          1080 non-null   object
 18  isClassified       1080 non-null   bool
 19  solMetadata        1080 non-null   object
 20  minSalary          396 non-null    float64
 21  maxSalary          396 non-null    float64
 22  currency           396 non-null    object
 23  period             1080 non-null   object
 24  term               0 non-null      object
 25  companyMetaId      1064 non-null   object
 26  AdId               1080 non-null   object
 27  isPrivate          1080 non-null   bool
 28  companyMetaName    1080 non-null   object
 29  companyMetaSlug    1080 non-null   object
 30  employmentCode     1080 non-null   object
 31  employmentName     1080 non-null   object
 32  location_names     1080 non-null   object
 33  category_types     1080 non-null   object
dtypes: bool(4), float64(2), object(28)
memory usage: 257.5+ KB

Let's continue with the second step: handling missing values. We'll check how many missing values there are in each column.

In [13]:
# Check for missing values
all_jobs_data.isnull().sum()
all_jobs_data.drop(['adType',
                    'isStandout',
                    'companyMeta',
                    'employmentTypes',
                    'locations',
                    'categories',
                    'postingDuration',
                    'salaryRange',
                    'bannerUrl',
                    'isClassified',
                    'solMetadata',
                    'term',
                    'companyMetaId',
                    'AdId',
                    'isPrivate',
                    'employmentName'
                   ],inplace=True,axis=1)

In [14]:
all_jobs_data.info()
print(all_jobs_data.head())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1080 entries, 0 to 1079
Data columns (total 18 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 1080 non-null   object
 1   sourceCountryCode  1080 non-null   object
 2   jobTitle           1080 non-null   object
 3   jobUrl             1080 non-null   object
 4   jobTitleSlug       1080 non-null   object
 5   description        1080 non-null   object
 6   sellingPoints      1080 non-null   object
 7   postedAt           1080 non-null   object
 8   salaryVisible      1080 non-null   bool
 9   minSalary          396 non-null    float64
 10  maxSalary          396 non-null    float64
 11  currency           396 non-null    object
 12  period             1080 non-null   object
 13  companyMetaName    1080 non-null   object
 14  companyMetaSlug    1080 non-null   object
 15  employmentCode     1080 non-null   object
 16  location_names     1080 non-null   object
 17  category_types     1080 non-null   object
dtypes: bool(1), float64(2), object(15)
memory usage: 144.6+ KB
        id sourceCountryCode                    jobTitle  \
0  5480607                my    Performance Data Analyst
1  5478851                my  Risk Data Analyst (Penang)
2  5479652                my            Business Analyst
3  5482310                my   Software Business Analyst
4  5477990                my       Business Analyst (BA)

                                              jobUrl  \
0  https://www.jobstreet.com.my/en/job/performanc...
1  https://www.jobstreet.com.my/en/job/risk-data-...
2  https://www.jobstreet.com.my/en/job/business-a...
3  https://www.jobstreet.com.my/en/job/software-b...
4  https://www.jobstreet.com.my/en/job/business-a...

                jobTitleSlug  \
0   performance-data-analyst
1   risk-data-analyst-penang
2           business-analyst
3  software-business-analyst
4        business-analyst-ba

                                         description  \
0  The performance data analyst will be responsib...
1  Position: Risk Data Analyst (Penang)Location: ...
2  Position Tittle: Business Analyst-Assistant Ma...
3  Responsibilities:  Ability to conceptualise so...
4  Benefits: Group medical insurance  Medical, De...

                                       sellingPoints              postedAt  \
0                                                     2023-08-03T02:52:28Z
1  Outstanding career growth & development opport...  2023-08-01T09:58:25Z
2  Flexible Work Arrangement- Hybrid role- Work f...  2023-08-02T06:21:33Z
3  Competitive salary package, Miscellaneous medi...  2023-08-04T07:26:38Z
4  Positive Work Culture, High Career Growth, Hyb...  2023-08-01T03:12:16Z

   salaryVisible  minSalary  maxSalary currency   period  \
0          False        NaN        NaN     None  monthly
1           True     2000.0     3200.0      MYR  monthly
2           True     7500.0     7700.0      MYR  monthly
3          False        NaN        NaN     None  monthly
4           True     4000.0     8000.0      MYR  monthly

                           companyMetaName  \
0                Jotun (Singapore) Pte Ltd
1  CENTIFIC GLOBAL SOLUTIONS (M) SDN. BHD.
2                   VENTUREPRO (M) SDN BHD
3                          Hokenso Sdn Bhd
4                Octafa Consulting Sdn Bhd

                         companyMetaSlug employmentCode location_names  \
0                jotun-singapore-pte-ltd      full_time           Tuas
1  centific-global-solutions-m-sdn.-bhd.      full_time    George Town
2                   venturepro-m-sdn-bhd      full_time  Petaling Jaya
3                        hokenso-sdn-bhd      full_time       Selangor
4              octafa-consulting-sdn-bhd      full_time   Kuala Lumpur

                                 category_types
0              Services, Logistics/Supply Chain
1  Computer/Information Technology, IT-Software
2  Computer/Information Technology, IT-Software
3  Computer/Information Technology, IT-Software
4  Computer/Information Technology, IT-Software

In [15]:
# Fill missing values in 'currency' with 'MYR'
all_jobs_data['currency'] = all_jobs_data['currency'].fillna('MYR')

all_jobs_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1080 entries, 0 to 1079
Data columns (total 18 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 1080 non-null   object
 1   sourceCountryCode  1080 non-null   object
 2   jobTitle           1080 non-null   object
 3   jobUrl             1080 non-null   object
 4   jobTitleSlug       1080 non-null   object
 5   description        1080 non-null   object
 6   sellingPoints      1080 non-null   object
 7   postedAt           1080 non-null   object
 8   salaryVisible      1080 non-null   bool
 9   minSalary          396 non-null    float64
 10  maxSalary          396 non-null    float64
 11  currency           1080 non-null   object
 12  period             1080 non-null   object
 13  companyMetaName    1080 non-null   object
 14  companyMetaSlug    1080 non-null   object
 15  employmentCode     1080 non-null   object
 16  location_names     1080 non-null   object
 17  category_types     1080 non-null   object
dtypes: bool(1), float64(2), object(15)
memory usage: 144.6+ KB

Next, let's convert boolean columns like salaryVisible to binary (0 and 1) for easier analysis and modeling.

In [16]:
# Convert boolean columns to binary
all_jobs_data['salaryVisible'] = all_jobs_data['salaryVisible'].astype(int)

# Display the first few rows
all_jobs_data.head()

,id,sourceCountryCode,jobTitle,jobUrl,jobTitleSlug,description,sellingPoints,postedAt,salaryVisible,minSalary,maxSalary,currency,period,companyMetaName,companyMetaSlug,employmentCode,location_names,category_types
0,5480607,my,Performance Data Analyst,https://www.jobstreet.com.my/en/job/performanc...,performance-data-analyst,The performance data analyst will be responsib...,,2023-08-03T02:52:28Z,0,NaN,NaN,MYR,monthly,Jotun (Singapore) Pte Ltd,jotun-singapore-pte-ltd,full_time,Tuas,"Services, Logistics/Supply Chain"
1,5478851,my,Risk Data Analyst (Penang),https://www.jobstreet.com.my/en/job/risk-data-...,risk-data-analyst-penang,Position: Risk Data Analyst (Penang)Location: ...,Outstanding career growth & development opport...,2023-08-01T09:58:25Z,1,2000.0,3200.0,MYR,monthly,CENTIFIC GLOBAL SOLUTIONS (M) SDN. BHD.,centific-global-solutions-m-sdn.-bhd.,full_time,George Town,"Computer/Information Technology, IT-Software"
2,5479652,my,Business Analyst,https://www.jobstreet.com.my/en/job/business-a...,business-analyst,Position Tittle: Business Analyst-Assistant Ma...,Flexible Work Arrangement- Hybrid role- Work f...,2023-08-02T06:21:33Z,1,7500.0,7700.0,MYR,monthly,VENTUREPRO (M) SDN BHD,venturepro-m-sdn-bhd,full_time,Petaling Jaya,"Computer/Information Technology, IT-Software"
3,5482310,my,Software Business Analyst,https://www.jobstreet.com.my/en/job/software-b...,software-business-analyst,Responsibilities: Ability to conceptualise so...,"Competitive salary package, Miscellaneous medi...",2023-08-04T07:26:38Z,0,NaN,NaN,MYR,monthly,Hokenso Sdn Bhd,hokenso-sdn-bhd,full_time,Selangor,"Computer/Information Technology, IT-Software"
4,5477990,my,Business Analyst (BA),https://www.jobstreet.com.my/en/job/business-a...,business-analyst-ba,"Benefits: Group medical insurance Medical, De...","Positive Work Culture, High Career Growth, Hyb...",2023-08-01T03:12:16Z,1,4000.0,8000.0,MYR,monthly,Octafa Consulting Sdn Bhd,octafa-consulting-sdn-bhd,full_time,Kuala Lumpur,"Computer/Information Technology, IT-Software"

The next step is to convert the postedAt column to a datetime object. This will enable time-based analysis. The pd.to_datetime() function is used to do this.

In [17]:
# Convert postedAt to datetime
all_jobs_data['postedAt'] = pd.to_datetime(all_jobs_data['postedAt'])

# Display the first few rows
all_jobs_data.head()

,id,sourceCountryCode,jobTitle,jobUrl,jobTitleSlug,description,sellingPoints,postedAt,salaryVisible,minSalary,maxSalary,currency,period,companyMetaName,companyMetaSlug,employmentCode,location_names,category_types
0,5480607,my,Performance Data Analyst,https://www.jobstreet.com.my/en/job/performanc...,performance-data-analyst,The performance data analyst will be responsib...,,2023-08-03 02:52:28+00:00,0,NaN,NaN,MYR,monthly,Jotun (Singapore) Pte Ltd,jotun-singapore-pte-ltd,full_time,Tuas,"Services, Logistics/Supply Chain"
1,5478851,my,Risk Data Analyst (Penang),https://www.jobstreet.com.my/en/job/risk-data-...,risk-data-analyst-penang,Position: Risk Data Analyst (Penang)Location: ...,Outstanding career growth & development opport...,2023-08-01 09:58:25+00:00,1,2000.0,3200.0,MYR,monthly,CENTIFIC GLOBAL SOLUTIONS (M) SDN. BHD.,centific-global-solutions-m-sdn.-bhd.,full_time,George Town,"Computer/Information Technology, IT-Software"
2,5479652,my,Business Analyst,https://www.jobstreet.com.my/en/job/business-a...,business-analyst,Position Tittle: Business Analyst-Assistant Ma...,Flexible Work Arrangement- Hybrid role- Work f...,2023-08-02 06:21:33+00:00,1,7500.0,7700.0,MYR,monthly,VENTUREPRO (M) SDN BHD,venturepro-m-sdn-bhd,full_time,Petaling Jaya,"Computer/Information Technology, IT-Software"
3,5482310,my,Software Business Analyst,https://www.jobstreet.com.my/en/job/software-b...,software-business-analyst,Responsibilities: Ability to conceptualise so...,"Competitive salary package, Miscellaneous medi...",2023-08-04 07:26:38+00:00,0,NaN,NaN,MYR,monthly,Hokenso Sdn Bhd,hokenso-sdn-bhd,full_time,Selangor,"Computer/Information Technology, IT-Software"
4,5477990,my,Business Analyst (BA),https://www.jobstreet.com.my/en/job/business-a...,business-analyst-ba,"Benefits: Group medical insurance Medical, De...","Positive Work Culture, High Career Growth, Hyb...",2023-08-01 03:12:16+00:00,1,4000.0,8000.0,MYR,monthly,Octafa Consulting Sdn Bhd,octafa-consulting-sdn-bhd,full_time,Kuala Lumpur,"Computer/Information Technology, IT-Software"

In [18]:
# Write the DataFrame to a CSV file
all_jobs_data.to_csv('all_jobs_data.csv', index=False)

print("Data successfully written to jobs_data.csv")

Data successfully written to jobs_data.csv